<include href="header.html" />

<div class="row">
    <div class="col-md-12">
        <h2>Редактирование шаблона {{ @template['id'] }}</h2>
        <h5>Редактирование шаблона сайта</span></h5>
    </div>
</div>

<hr>

<div class="row">

        <input id="id_template" type="hidden" name="id" value="{{ @template['id'] }}">

        <div class="col-xs-9">
            <h4>Главная информация</h4>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Имя</span>
                        <input id="name_template" value="{{ @template['name'] }}" type="text" class="form-control" placeholder="Class" aria-describedby="basic-addon1">
                    </div>
                    <br>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">url</span>
                        <input id="url_template" value="{{ @template['url'] }}"  type="text" class="form-control" placeholder="Позиция" aria-describedby="basic-addon1">
                    </div>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10">

                </div>
                <div class="col-xs-2">
                    <div class="btn-group">
                        <button id="save_template" type="button" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
             </div>
        </div>


        <div class="col-xs-3">
            <h4>Привязать шаблон
                <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button></h4>
            <select multiple size="25" style="width: 100%;">
                <repeat group="{{ @pages }}" value="{{ @item }}">
                    <option  selected value="{{ trim(@item.id_page) }}">{{ trim(@item.name) }}</option>
                </repeat>
            </select>
        </div>


</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function() {

        $('#save_template').click( function() {
            $.ajax({
                type: 'POST',
                url: '/administrator/template/save_template',
                data: (
                'id=' + $('#id_template').val()  + '&'  +
                'name=' + $('#name_template').val()  + '&'  +
                'url=' + $('#url_template').val()
                ),
                success: function(data){
                    alert(data);
                }
            });
        });



    });
</script>

<include href="footer.html" />