</div>
</div>
<!-- /. ROW  -->


</div>
<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->

<!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->

<script src="../../ui/js/ace/ace.js"></script>
<script src="../../ui/js/ace/theme-twilight.js"></script>
<script src="../../ui/js/ace/mode-html.js"></script>
<script src="../../ui/js/ace/worker-css.js"></script>
<script src="../../ui/js/ace/worker-javascript.js"></script>

<script src="../../ui/js/jquery-ace.min.js"></script>

<script>
    $('#html_page, #html_module').ace({ theme: 'chrome', lang: 'html' });
</script>


<!-- BOOTSTRAP SCRIPTS -->
<script src="../../ui/js/bootstrap.min.js"></script>
<!-- METISMENU SCRIPTS -->
<script src="../../ui/js/jquery.metisMenu.js"></script>
<!-- CUSTOM SCRIPTS -->
<script src="../../ui/js/custom.js"></script>


</body>
</html>