<div class="block">
    <div class="testimonials">
        <div class="text">
            <div class="rating">★★★★★</div>
            <p>Хотелось бы выразить благодарность за качественно произведенный ремонт. Надеюсь на дальнейшее
                сотрудничество, когда появится такая возможность.</p>
        </div>
        <div class="author">
            Фофанов Геннадий Анатольевич
        </div>
        <div class="more">
            <a href="/otzyvy/blagodarnost-za-remont">Читать отзыв</a>
        </div>
    </div>
</div>
<div class="block">
    <div class="testimonials">
        <div class="text">
            <div class="rating">★★★★☆</div>
            <p>Скорость работы, соответствие заявленным срокам исполнения. Работа выполнена на достойном уровне. Хорошее
                сочетание цена-качество. Не понравилось отсутствие&nbsp;…</p>
        </div>
        <div class="author">
            Артём
        </div>
        <div class="more">
            <a href="/otzyvy/otlichnaya-skorost-raboty">Читать отзыв</a>
        </div>
    </div>
</div>
<div class="block">
    <div class="testimonials">
        <div class="text">
            <div class="rating">★★★★★</div>
            <p>Очень довольны мастером-Александром; работает аккуратно. Профессиональные и человеческие качества-выше
                всяких похвал. Контакты со всеми остальными&nbsp;…</p>
        </div>
        <div class="author">
            Василий
        </div>
        <div class="more">
            <a href="/otzyvy/ochen-dovolny">Читать отзыв</a>
        </div>
    </div>
</div>
 