<noindex>
    <div id="advantages">
        <div class="viewport">
            <ul>
                <li>
                    <div class="advantage clock">
                        <div class="text">
                            Время выезда <br />сметчика
                            <strong>за 2 часа</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="advantage stamp">
                        <div class="text">
                            Гарантия <br />на работы
                            <strong>до 10 лет</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="advantage star">
                        <div class="text">
                            У нас работают <br />только
                            <strong>профи</strong>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="advantage calculator">
                        <div class="text">
                            Мы предлагаем <br />самые
                            <strong>лучшие цены</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</noindex>
