<div id="footer">
    <div class="viewport">
        <div class="company">
            &copy; 2005&ndash;2015 РСК &laquo;Молоток&raquo;<br />
            <a href="/">Ремонт квартир</a>, <a href="/komnata.html">комнат</a>, <a href="/vannaya.html">ванных</a>, <a href="/tualet.html">туалетов</a> и <a href="/kuhnya.html">кухонь</a>
            <div class="slogan">Работаем на совесть. Лишнего не берем. За слова отвечаем</div>
        </div>
        <div class="about">
            <ul>
                <li><a href="/content/o-kompanii.html">О компании</a></li>
                <li><a href="/content/sotrudnichestvo.html">Сотрудничество</a></li>
                <li><a href="/content/preimushestva.html">Преимущества</a></li>
                <li><a href="/content/vakansii.html">Вакансии</a></li>
            </ul>
        </div>
        <div class="contact">
            <div class="phone"><strong>+7 (495) 729-53-30</strong></div>
            <div class="schedule">круглосуточно, без выходных</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter13449181 = new Ya.Metrika({
                    id: 13449181,
                    enableAll: true,
                    webvisor: true
                });
            } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/13449181" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</body>
</html>